* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard Variable";
}

.view-line > span > * {
  font-family: "Fira Code", Consolas, "Courier New", monospace !important;
}